  html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: auto;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }
   
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 2.7vh;
    text-decoration: none;
    font-size: 2.8vh;
  }
    
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    
  .topnav a.split {
    float: right;
  }

  .bg-rect {
    content: " ";
    bottom: auto;
    width: 55vh;
    height: 40vh;
    background: rgb(224, 224, 224);
    z-index: -1;
    margin: auto;
  }

  footer {
    content: " ";
    position: absolute;
    width: 100%;
    height: 15vh;
    background: rgb(171, 201, 253);
    z-index: -1;
    padding: 0;    
    margin: 0;
    font-size: 2.5vh;
    text-align: center;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .grow img{
    animation: expandIm 2s forwards;
  }
  .fade p{
    animation: fadeInAnimation ease-in 2s;
  }

  @keyframes expandIm {
    0% {
      width: 0%;
      height: 0%;
    }
    100% {
      width: 40%;
      height: 40%;
    }
  }
  #grad1 {
    background-image: linear-gradient(rgb(144, 150, 222), rgb(52, 73, 214));
  }
  
  #grad2{
    background-image: radial-gradient(rgb(160, 210, 248), rgb(70, 70, 246)80%);
  }
  #backhome{
    background-image: url(https://i.pinimg.com/736x/49/28/85/4928858a5eb7f32cb0b86281713d1531.jpg);
  }
  
  #quote{
    transition: opacity 0.5s;
    font-size: 4vh;
    color: #1b2f36;
    text-align: right;
    padding: 0.5 0.5em;
  }
  #quote.fade{
    opacity: 0;
  }
  .rect-arrow{
    height: 8vh;
    width: 32vh;
    background-color: rgb(124, 180, 221);
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rect-arrow:hover{
    background-color: rgb(46, 58, 197);
  }
  .textwidth{
    display: inline-block;
  }
  .main1btn{
    font-size: 2vh; 
    margin: auto; 
    width:80%;
  }
  .Classesmain{
    margin: auto; 
    text-align: center;
    content: " ";
    bottom: auto;
    width: 80vh;
    height: 14vh;
    background: rgb(253, 183, 183);
    z-index: -1;
    border-radius: 16px;
  }
  .Classes{
    height: 6vh;
    width: 30vh;
    background-color: rgb(250, 101, 101);
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Classes:hover{
    background-color: rgb(187, 21, 21);
  }
  .Quizzesmain{
    margin: auto; 
    text-align: center;
    content: " ";
    bottom: auto;
    width: 80vh;
    height: 14vh;
    background: rgb(210, 174, 244);
    z-index: -1;
    border-radius: 16px;
  }
  .Quizzes{
    height: 6vh;
    width: 30vh;
    background-color: rgb(177, 104, 245);
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: rgb(255, 255, 255);
    padding: 1vh;
    border-radius: 16px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Quizzes:hover{
    background-color: rgb(123, 41, 199);
  }

  .statmain{
    margin: auto; 
    text-align: center;
    content: " ";
    bottom: auto;
    width: 80vh;
    height: 14vh;
    background: rgb(174, 227, 234);
    z-index: -1;
    border-radius: 16px;
  }
  .stat{
    height: 6vh;
    width: 30vh;
    background-color: rgb(103, 214, 229);
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: rgb(255, 255, 255);
    text-align: left; 
    padding: 1vh;
    border-radius: 16px;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stat:hover{
    background-color: rgb(39, 141, 205);
  }

  .bg-rectsignup {
    content: " ";
    bottom: auto;
    width: 55vh;
    height: 47vh;
    background: rgb(224, 224, 224);
    z-index: -1;
    margin: auto;
  }

  .bg-rectclasscreate {
    content: " ";
    position: relative;
    height: 50%;
    background: rgb(224, 224, 224);
    z-index: -1;
    top: 50%; 
    left: 50%; 
    width: 50%; 
    transform: translate(-50%,-50%);
  }
  .rect-arrowhome{
    height: 8vh;
    width: 32vh;
    background-color: rgb(124, 180, 221);
    border: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .rect-arrowhome:hover{
      background-color: rgb(46, 58, 197);
    }

    .bg-rectquizcreate {
      content: " ";
      position: relative;
      height: 50%;
      background: rgb(224, 224, 224);
      z-index: -1;
      top: 50%; 
      left: 50%; 
      width: 40%; 
      height: 65%;
      transform: translate(-50%,-50%);
    }

    h3{
      font-size: 3vh;
    }
        
    h1{
      font-size: 4.8vh;
    }

    h4{
      font-size: 2vh;
    }

    .bg-rectphp {
      content: " ";
      bottom: auto;
      background: rgb(224, 224, 224);
      z-index: -1;
      margin: auto;
      background-size: contain;
      width: 40%;
      border-radius: 16px;
    }

    input[type=button], input[type=submit]{
      cursor: pointer;
    }
     
    .users{
      text-align: center;
    }

    form{
      font-size: 2.6vh;
    }

    .userstat{
      width: 40%;
      background-size: contain;
      background-color: rgb(156, 229, 217);
      border: none;
      color: rgb(0, 0, 0);
      text-align: left; 
      padding: 1vh;
      border-radius: 16px;
      display: flex;
      align-items: center;
    }
     
    table.tabletext{
      font-size: 3vh;
      table-layout: auto;
      width: 90%;
    }

    table.centered{
      margin-left: auto; 
      margin-right: auto;
    }

    .center{
      margin: auto; 
    }
